@import "./colors";
@import "./mixins";

.admin__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
        list-style: none;
        display: flex;
    }
    button {
        border-radius: 0;
        height: 100%;
        &:hover {
            color: $color-yellow-secondary;
        }
    }
}
.admin__container-inner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
//categories
.admin__categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.admin__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    button {
        @include gradient--blue-hover;
    }
}
//add category
.admin__add-category {
    width: fit-content;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    div {
        display: flex;
        gap: 10px;
    }
    input {
        width: auto;
    }
    .admin__add-button {
        @include gradient--blue-hover;
    }
}
//propositions
.admin__propositions {
    width: 100%;
}
.admin__propositions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.admin__proposition {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    &-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &-answers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        div {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
    &-correct,
    &-incorrect {
        padding: 0.5em 1em;
        @include gradient--green;
        border-radius: 20px;
    }
    &-incorrect {
        @include gradient--red;
    }
    &-add-button {
        @include gradient--green-hover;
    }
    &-reject-button {
        @include gradient--red-hover;
    }
}
//login
.admin__login {
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        min-width: 50%;
    }
    input {
        width: 50%;
        @media (max-width: 800px) {
            width: 100%;
        }
    }
    button {
        @include gradient--blue-hover;
    }
}
