@import "./colors";

.admin-categories__add-category {
    width: fit-content;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    div {
        display: flex;
        gap: 10px;
    }
    .admin-categories__add-button:hover {
        background-color: lighten($color-blue, 20%);
    }
}
