$color-white: #ebebeb;
$color-black: #0f0f0f;
$color-dark-container: #232228;
$color-green-primary: #219556;
$color-green-secondary: #17c265;
$color-red-primary: #923027;
$color-red-secondary: #d62717;
$color-blue-primary: #1a2b8d;
$color-blue-secondary: #3213cf;
$color-yellow-primary: #ad6e16;
$color-yellow-secondary: #eb9115;
