@font-face {
    font-family: AvocadoTaco;
    src: url("../assets/fonts/AvocadoTaco.woff2"),
         url("../assets/fonts/AvocadoTaco.woff");
  }
  
  @font-face {
    font-family: Dosis;
    src: url("../assets/fonts/DosisMedium.woff2"),
    url("../assets/fonts/DosisMedium.woff");
  }
  
  @font-face {
    font-family: DosisSemibold;
    src: url("../assets/fonts/DosisSemibold.woff2"),
    url("../assets/fonts/DosisSemibold.woff");
  }
  
  @font-face {
    font-family: DosisBold;
    src: url("../assets/fonts/DosisBold.woff2"),
    url("../assets/fonts/DosisBold.woff");
  }