@import "./colors";

.footer {
    padding: 0.5em 0;
    font-size: 0.7rem;
    color: $color-white;
    background-color: $color-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        padding: 0;
    }
}