@use "./colors";

html {
  font-family: DosisSemibold, sans-serif;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  @media (max-width: 800px) {
    font-size: 14px;
  }
}
body {
  overflow-x: hidden;
  color: $color-white;
  background-color: $color-black;
}
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 30px;
  @media (max-width: 800px) {
    background-size: 200% auto;
  }
}
.container {
  background: linear-gradient(135deg, $color-black 10%, $color-dark-container 60%);
  border-radius: 20px;
  padding: 20px;
}
button {
  font-family: inherit;
  padding: 0.5em 1em;
  font-size: 1rem;
  color: $color-white;
  border: none;
  border-radius: 0.8em;
  background-color: transparent;
  cursor: pointer;
}
label {
  font-size: 1.2rem;
}
input,
textarea,
select {
  color: $color-white;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
  padding: 5px;
  resize: none;
  background-color: lighten($color-dark-container, 10%);
  &:focus {
      background-color: lighten($color-dark-container, 20%);
      border: 2px solid $color-white;
  }
}