@import "./colors";

.navigation {
    position: relative;
    background-color: $color-blue;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__logo {
    padding: 0;
    margin-left: 1rem;
    h1 {
        font-family: AvocadoTaco, sans-serif;
        font-size: 2rem;
        font-weight: 400;
        color: $color-white;
    }
    span {
        color: $color-red;

        &:nth-child(2n) {
            color: $color-green;
        }
    }
}
.navigation__list {
    height: 100%;
    min-width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}
.navigation__element {
    height: 100%;
    button {
        border-radius: 0;
        height: 100%;
        &:hover {
            background-color: lighten($color-blue, 20%);
        }
    }
    &--active {
        background-color: $color-yellow;
    }
}
.navigation__hamburger {
    z-index: 1;
    path {
        fill: $color-white;
    }
}
.navigation__mobile-list {
    padding: 0;
    background-color: $color-blue;
    list-style: none;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    li {
        button {
            min-width: 50%;
            text-align: left;
        }
    }
}
