@import "./colors";

.navigation {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__logo {
    padding: 0;
    margin-left: 1rem;
    h1 {
        font-family: AvocadoTaco, sans-serif;
        font-size: 2rem;
        font-weight: 400;
        color: $color-white;
    }
    span {
        color: $color-red-secondary;

        &:nth-child(2n) {
            color: $color-green-secondary;
        }
    }
}
.navigation__list {
    height: 100%;
    min-width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}
.navigation__element {
    height: 100%;
    button {
        border-radius: 0;
        height: 100%;
        &:hover {
            color: $color-yellow-primary;
        }
    }
}
.navigation__hamburger {
    z-index: 1;
    path {
        transition-duration: 0.3s;
        fill: $color-white;
    }
    &--open {
        path {
            transition-duration: 0.3s;
        }
        .hamburger--top {
            transform-origin: 50% 10%;
            transform: translateY(40%) rotate(45deg);
        }
        .hamburger--middle {
            transform-origin: center;
            transform: scale(0);
        }
        .hamburger--bottom {
            transform-origin: 50% 90%;
            transform: translateY(-40%) rotate(-45deg);
        }
    }
}
.navigation__mobile-list {
    padding: 0;
    background-color: $color-white;
    list-style: none;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    li {
        button {
            width: 100%;
            text-align: left;
        }
    }
}
